<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <title>Pokedex App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
nodemon

</head>

<body>

    <nav>
        <a href="/pokemon/new">Create a New Fruit</a>
    </nav>

    <div class="pokeItem">
        <header>Pokedex</header>
        <h1>Edit</h1>
        
        
            <form action="/pokemon/<%= index %>?_method=PUT" method="POST">
                Name: <input type="text" name="name" /><br/>
                image: <input type="text" name="img" /><br/>
                attack: <input type="text" name="attack" /><br/>
                speed: <input type="text" name="speed" /><br/>
                type: <input type="text" name="type" /><br/>
                hp: <input type="text" name="hp" /><br/>
    
                <input type="submit" value="edit pokemon"/>
            </form>
    </div>
</body>

</html>