<html>
    <head>
        <meta charset="utf-8">
        <title>Create a new Fruit</title>
    </head>
    <body>
        <h1>New Pokemon</h1>
        <!--  NOTE: action will be the route, method will be the HTTP verb-->
        <form action="/pokemon" method="POST">
            Name: <input type="text" name="name" /><br/>
            image: <input type="text" name="img" /><br/>
            attack: <input type="text" name="attack" /><br/>
            speed: <input type="text" name="speed" /><br/>
            type: <input type="text" name="type" /><br/>
            hp: <input type="text" name="hp" /><br/>

            <input type="submit" value="Create pokemon"/>
        </form>
    </body>
</html>